# Python & Venv
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment variables (secrets)
.env

# Data & Uploads & Vector DB
data/app.db*
data/raw/
data/vector_index/
data/qdrant_db/
data/bm25_index/

# Frontend builds & dependencies
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Backup
frontend_streamlit_backup/

# OS specific
.DS_Store
